.taskrow {
    display: flex
}

.task-indicator {
    height: 1em;
    width: 1em;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 100px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.taskrow:hover {
    background: #eeeeee;
}

.task-timer {
    margin-left: auto;
}

body {
    background: aliceblue;
}

.tasklist {
    background: white;
    border-color: blue;
    border-radius: 20px;
    border-style: double;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 500px;
    padding: 20px;
}

.new-task-link {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.far_from_due { background: green;}
.close_to_due { background: greenyellow;}
.imminently_due { background: yellow;}
.overdue { background: red;}